@use "/src/styles/variables.module.scss" as *;
@use "/src/styles/mixins.module.scss" as *;

.bodyWrapper {
  height: 100vh;
  height: 100dvh;
}

.topWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: $content-width-pc;

  @include sp {
    width: 100%;
    max-width: $content-width-sp;
    flex-direction: column;
    gap: 8px;
  }
}

.imageWrapper {
  width: 250px;
  height: 250px;
  box-shadow: $box-shadow-black-4;
  overflow: hidden;
}

.formWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 12px;
  width: 100%;

  > .field {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0;
  }

  > .button {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.2s;
    font-weight: bold;
    font-size: 24px;

    &:hover {
      background-color: #b5b5b5;
    }

    &:active {
      background-color: #969696;
    }
  }
}

.colorWrapper {
  display: flex;
  gap: 16px;

  > .color {
    display: flex;
    flex-direction: column;
  }
}
