@use "/src/styles/variables.module.scss" as *;
@use "/src/styles/mixins.module.scss" as *;

.toastWrapper {
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: $z-index-toast;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  transition: ease 0.2s;
  opacity: 0;

  &.Active {
    bottom: 30px;
    opacity: 1;
  }
}

.toastBody {
  width: 100%;
  max-width: 500px;
  background-color: $color-white;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  border: 1px solid $color-gray;
  border-radius: 8px;
  font-weight: bold;
  color: $color-gray;

  > .message {
    width: 100%;
  }
}
