@use "/src/styles/variables.module.scss" as *;
@use "/src/styles/mixins.module.scss" as *;

.bodyWrapper {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
