$color-black: rgba(0, 0, 0, 0.87);
$color-white: rgba(255, 255, 255);
$color-gray: rgba(0, 0, 0, 0.6);
$color-primary: rgba(242, 135, 5);

$box-shadow-black-2: 2px 2px 4px rgba(0, 0, 0, 0.25);
$box-shadow-black-4: 4px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-primary-2: 2px 2px 4px rgba(242, 135, 5, 0.25);

$content-width-pc: 544px;
$content-width-sp: 250px;

// $font-family-body: "M PLUS 1p", sans-serif;
