.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 544px;
  padding: 10px;
}

.imageWrapper {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top: 10px;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  padding: 0 10px;

  > .field {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0;
  }

  > .button {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.2s;
    font-weight: bold;
    font-size: 24px;

    &:hover {
      background-color: #b5b5b5;
    }

    &:active {
      background-color: #969696;
    }
  }
}

.urlWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;

  > .url {
    padding: 5px;
    border: 1px solid #ccc;
    word-wrap: break-word;
    cursor: pointer;
    transition: ease 0.2s;

    &:active {
      background-color: #ababab;
    }
  }
}

.descriptionWrapper {
  margin-top: 10px;
  width: 100%;

  > .description {
    text-align: left;
  }
}
